.testimony
    .testimony-item
        display: flex
        align-items: center
        justify-content: center

        .content
            max-width: 400px
            display: inline-block
            text-align: center
            padding: 0 4rem

            img
                width: 120px
                border-radius: 50%

            p.name
                font-weight: bold
                margin-bottom: 0
                font-size: 1.5rem

            p.university
                margin: 0